<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>登录页</h1>
<div>
    <a href="http://www.pinzhi365.com/qqLogin/callback.do">qq</a>
    <div></div>
    <a href="http://www.pinzhi365.com/qqLogin/weixin">wechat</a>
    <div></div>
    <!--    <a href="http://github.com/login/oauth/authorize?client_id=Iv1.9a1d0cbafea21da5&redirect_uri=http://127.0.0.1:9999/social/github&scope=user&state=1">github</a>-->
    <a href="http://www.pinzhi365.com/qqLogin/github">github</a>
</div>
</body>
</html>